In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Credit card transactions - Project - 2 - Credit card transactions - Project - 2.csv")

In [3]:
df.head()

   index                   City       Date  Card Type Exp Type Gender  Amount
0      0           Delhi, India  29-Oct-14       Gold    Bills      F   82475
1      1  Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2      2       Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3      3  Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4      4       Bengaluru, India  05-May-15       Gold    Bills      F  171574

# 1.Print top 5 cities with highest spends and their percentage contribution of total credit card spends.

In [5]:
z=df.groupby(["City"])["Amount"].sum().nlargest(5)

In [8]:
p=z.reset_index()

In [9]:
p

                    City     Amount
0  Greater Mumbai, India  576751476
1       Bengaluru, India  572326739
2       Ahmedabad, India  567794310
3           Delhi, India  556929212
4         Kolkata, India  115466943

In [15]:
p["per"]=((p["Amount"]*100)/(p["Amount"].sum()))

In [16]:
p

                    City     Amount        per
0  Greater Mumbai, India  576751476  24.139247
1       Bengaluru, India  572326739  23.954055
2       Ahmedabad, India  567794310  23.764356
3           Delhi, India  556929212  23.309610
4         Kolkata, India  115466943   4.832732

# 2.Print highest spend month and amount spent in that month for each card type.

In [21]:
df.head(3)

   index                   City       Date Card Type Exp Type Gender  Amount
0      0           Delhi, India  29-Oct-14      Gold    Bills      F   82475
1      1  Greater Mumbai, India  22-Aug-14  Platinum    Bills      F   32555
2      2       Bengaluru, India  27-Aug-14    Silver    Bills      F  101738

In [21]:
df["Date"]=pd.to_datetime(df["Date"])

In [114]:
df["Month"]=df["Date"].dt.month

In [115]:
df["Year"]=df["Date"].dt.year

In [26]:
df.head()

,index,City,Date,Card Type,Exp Type,Gender,Amount,Month,Year
0,0,"Delhi, India",2014-10-29,Gold,Bills,F,82475,10,2014
1,1,"Greater Mumbai, India",2014-08-22,Platinum,Bills,F,32555,8,2014
2,2,"Bengaluru, India",2014-08-27,Silver,Bills,F,101738,8,2014
3,3,"Greater Mumbai, India",2014-04-12,Signature,Bills,F,123424,4,2014
4,4,"Bengaluru, India",2015-05-05,Gold,Bills,F,171574,5,2015

In [117]:
d={1:"Jan",2:"Feb",3:"Mar",4:"Apr",5:"May",6:"Jun",7:"Jul",8:"Aug",9:"Sep",10:"Oct",11:"Nov",12:"Dec"}

In [118]:
df["Month"]=df["Month"].map(d)

In [29]:
df.head(2)

,index,City,Date,Card Type,Exp Type,Gender,Amount,Month,Year
0,0,"Delhi, India",2014-10-29,Gold,Bills,F,82475,Oct,2014
1,1,"Greater Mumbai, India",2014-08-22,Platinum,Bills,F,32555,Aug,2014

In [31]:
g=df[df["Card Type"]=="Gold"]

In [32]:
go=g.groupby(["Card Type","Month","Year"])["Amount"].sum().nlargest(1)

In [33]:
gg=go.reset_index()

In [34]:
gg

  Card Type Month  Year    Amount
0      Gold   Jan  2015  55455064

In [35]:
s=df[df["Card Type"]=="Silver"]

In [36]:
si=s.groupby(["Card Type","Month","Year"])["Amount"].sum().nlargest(1)

In [37]:
ss=si.reset_index()

In [38]:
ss

  Card Type Month  Year    Amount
0    Silver   Mar  2015  59723549

In [39]:
p=df[df["Card Type"]=="Platinum"]

In [40]:
pl=p.groupby(["Card Type","Month","Year"])["Amount"].sum().nlargest(1)

In [41]:
pp=pl.reset_index()

In [42]:
pp

  Card Type Month  Year    Amount
0  Platinum   Aug  2014  57936507

In [43]:
sig=df[df["Card Type"]=="Signature"]

In [44]:
sigg=sig.groupby(["Card Type","Month","Year"])["Amount"].sum().nlargest(1)

In [45]:
sss=sigg.reset_index()

In [46]:
sss

   Card Type Month  Year    Amount
0  Signature   Dec  2013  58799522

In [49]:
c=pd.concat([gg,ss,pp,sss],axis=0)

In [50]:
c

   Card Type Month  Year    Amount
0       Gold   Jan  2015  55455064
0     Silver   Mar  2015  59723549
0   Platinum   Aug  2014  57936507
0  Signature   Dec  2013  58799522

# 4.Find city which had lowest percentage spend for gold card type.

In [81]:
g=df[df["Card Type"]=="Gold"]

In [82]:
gg=g.reset_index()

In [83]:
gg.head()

,level_0,index,City,Date,Card Type,Exp Type,Gender,Amount,Month,Year
0,0,0,"Delhi, India",2014-10-29,Gold,Bills,F,82475,Oct,2014
1,4,4,"Bengaluru, India",2015-05-05,Gold,Bills,F,171574,May,2015
2,6,6,"Delhi, India",2015-02-24,Gold,Bills,F,143250,Feb,2015
3,12,12,"Greater Mumbai, India",2014-08-07,Gold,Bills,F,19226,Aug,2014
4,17,17,"Greater Mumbai, India",2015-03-30,Gold,Bills,F,986379,Mar,2015

In [84]:
gg["percentage_spend"]=((gg["Amount"]*100)/(gg["Amount"].sum()))

In [85]:
gg.head(2)

,level_0,index,City,Date,Card Type,Exp Type,Gender,Amount,Month,Year,percentage_spend
0,0,0,"Delhi, India",2014-10-29,Gold,Bills,F,82475,Oct,2014,0.008377
1,4,4,"Bengaluru, India",2015-05-05,Gold,Bills,F,171574,May,2015,0.017427

In [87]:
gg.nsmallest(1,"percentage_spend")

,level_0,index,City,Date,Card Type,Exp Type,Gender,Amount,Month,Year,percentage_spend
1251,5331,5331,"Ahmedabad, India",2015-02-12,Gold,Fuel,F,1038,Feb,2015,0.000105

# 5.Print 3 columns: city, highest_expense_type , lowest_expense_type (example format : Delhi , bills, Fuel).

In [89]:
df=pd.read_csv("Credit card transactions - Project - 2 - Credit card transactions - Project - 2.csv")

In [90]:
idx=df.groupby(["City"])["Amount"].idxmax()

In [91]:
max_scores=df.loc[idx]

In [92]:
max_scores.rename(columns={"Exp Type": "Highest_expense_type"},inplace=True)

In [93]:
max_scores

,index,City,Date,Card Type,Highest_expense_type,Gender,Amount
17004,17004,"Achalpur, India",20-Apr-15,Gold,Bills,M,241504
14894,14894,"Adilabad, India",14-Feb-15,Platinum,Bills,F,278459
19716,19716,"Adityapur, India",12-Nov-13,Signature,Food,F,296944
17245,17245,"Adoni, India",09-Feb-14,Silver,Fuel,F,273056
15304,15304,"Adoor, India",20-Apr-14,Platinum,Fuel,M,250113
...,...,...,...,...,...,...,...
16042,16042,"Zaidpur, India",25-Jun-14,Signature,Food,M,289777
16351,16351,"Zamania, India",18-Oct-14,Signature,Entertainment,M,267160
19057,19057,"Zira, India",17-Sep-14,Gold,Bills,M,294291
17059,17059,"Zirakpur, India",08-Apr-15,Platinum,Fuel,F,289172
18987,18987,"Zunheboto, India",29-Mar-14,Silver,Grocery,M,298567

In [94]:
df=pd.read_csv("Credit card transactions - Project - 2 - Credit card transactions - Project - 2.csv")

In [95]:
idr=df.groupby(["City"])["Amount"].idxmin()

In [96]:
min_scores=df.loc[idr]

In [97]:
min_scores.rename(columns={"Exp Type":"Lowest_expense_type"},inplace=True)

In [98]:
min_scores

,index,City,Date,Card Type,Lowest_expense_type,Gender,Amount
15604,15604,"Achalpur, India",29-May-14,Gold,Entertainment,F,55347
19457,19457,"Adilabad, India",20-Feb-15,Gold,Grocery,M,49020
14862,14862,"Adityapur, India",27-Apr-14,Platinum,Grocery,M,17703
14613,14613,"Adoni, India",25-Jan-15,Platinum,Grocery,F,40082
19860,19860,"Adoor, India",22-May-14,Gold,Bills,F,6536
...,...,...,...,...,...,...,...
14079,14079,"Zaidpur, India",21-Jan-15,Silver,Food,F,7134
15280,15280,"Zamania, India",18-Jul-14,Silver,Entertainment,M,5006
15074,15074,"Zira, India",10-Jan-14,Platinum,Grocery,M,48909
18279,18279,"Zirakpur, India",08-Mar-14,Platinum,Entertainment,M,84925
18804,18804,"Zunheboto, India",01-Dec-14,Silver,Entertainment,F,78591

In [99]:
p=max_scores.merge(min_scores,on="City",how="left")

In [189]:
e=p[["City","Highest_expense_type","Lowest_expense_type"]]

In [190]:
e

                                City Highest_expense_type Lowest_expense_type
0                    Achalpur, India                Bills       Entertainment
1                    Adilabad, India                Bills             Grocery
2                   Adityapur, India                 Food             Grocery
3                       Adoni, India                 Fuel             Grocery
4                       Adoor, India                 Fuel               Bills
5                    Afzalpur, India                Bills                Food
6                    Agartala, India        Entertainment                Food
7                        Agra, India                Bills             Grocery
8                   Ahmedabad, India                Bills             Grocery
9                  Ahmednagar, India                 Fuel             Grocery
10                     Aizawl, India                 Food                Food
11                      Ajmer, India        Entertainment                Fuel
12                      Akola, India                Bills       Entertainment
13                       Akot, India                 Fuel                Fuel
14                  Alappuzha, India                 Food       Entertainment
15                    Aligarh, India                Bills                Fuel
16                 Alipurduar, India                 Food                Fuel
17                  Alirajpur, India        Entertainment       Entertainment
18                  Allahabad, India              Grocery               Bills
19                      Alwar, India                 Food       Entertainment
20                 Amalapuram, India              Grocery                Fuel
21                    Amalner, India        Entertainment                Food
22                  Ambejogai, India                Bills             Grocery
23                  Ambikapur, India                Bills                Fuel
24                   Amravati, India                Bills             Grocery
25                     Amreli, India                 Food             Grocery
26                   Amritsar, India                 Fuel               Bills
27                     Amroha, India              Grocery                Fuel
28                 Anakapalle, India              Grocery                Fuel
29                      Anand, India                 Fuel             Grocery
30                  Anantapur, India                 Food             Grocery
31                   Anantnag, India              Grocery       Entertainment
32                  Anjangaon, India                 Food               Bills
33                      Anjar, India              Grocery                Food
34                 Ankleshwar, India                 Fuel               Bills
35                  Arakkonam, India              Grocery                Food
36                   Arambagh, India                 Food       Entertainment
37                     Araria, India                 Food                Fuel
38                      Arrah, India                 Food       Entertainment
39                   Arsikere, India                 Fuel       Entertainment
40              Aruppukkottai, India        Entertainment                Fuel
41                       Arvi, India        Entertainment                Food
42                      Arwal, India                 Fuel             Grocery
43                    Asansol, India                 Fuel                Fuel
44                Ashok Nagar, India        Entertainment               Bills
45                      Athni, India                Bills                Fuel
46                   Attingal, India                 Fuel                Food
47                 Aurangabad, India                Bills               Bills
48                   Azamgarh, India        Entertainment                Fuel
49                     Bagaha, India        Entertainment       Entertainment
50                Bahadurgarh, India                 Food       Entertainment
51                 Baharampur, India                 Food                Fuel
52                   Bahraich, India                 Fuel                Food
53                   Balaghat, India                 Fuel             Grocery
54                   Balangir, India              Grocery       Entertainment
55             Baleshwar Town, India              Grocery               Bills
56                    Ballari, India                 Fuel             Grocery
57                  Balurghat, India                 Food       Entertainment
58                    Bankura, India              Grocery       Entertainment
59                    Bapatla, India                 Food             Grocery
60                   Baramula, India                 Fuel                Food
61                     Barbil, India                 Fuel                Food
62                    Bargarh, India        Entertainment               Bills
63              Baripada Town, India                 Food             Grocery
64                    Barnala, India        Entertainment                Food
65                    Barpeta, India                Bills                Fuel
66                     Batala, India                 Food             Grocery
67                   Bathinda, India                 Fuel       Entertainment
68                  Begusarai, India        Entertainment             Grocery
69                   Belagavi, India                 Food               Bills
70                Bellampalle, India                 Fuel                Food
71                  Bengaluru, India                Bills       Entertainment
72                    Bettiah, India                 Fuel             Grocery
73                     Bhabua, India                 Fuel             Grocery
74               Bhadrachalam, India              Grocery               Bills
75                    Bhadrak, India                Bills               Bills
76                  Bhagalpur, India                 Fuel       Entertainment
77                    Bhainsa, India                 Food                Food
78                  Bharatpur, India                 Food             Grocery
79                    Bharuch, India                 Food               Bills
80                  Bhatapara, India                Bills               Bills
81                  Bhavnagar, India        Entertainment       Entertainment
82               Bhawanipatna, India                Bills                Fuel
83             Bheemunipatnam, India              Grocery                Food
84               Bhilai Nagar, India                Bills                Fuel
85                   Bhilwara, India              Grocery                Food
86                 Bhimavaram, India                Bills             Grocery
87                   Bhiwandi, India              Grocery               Bills
88                    Bhiwani, India                 Fuel       Entertainment
89                    Bhongir, India                 Food       Entertainment
90                     Bhopal, India                 Food                Food
91                Bhubaneswar, India                 Food               Bills
92                       Bhuj, India              Grocery                Fuel
93                    Bikaner, India        Entertainment       Entertainment
94                   Bilaspur, India                 Fuel             Grocery
95                    Bobbili, India                 Food                Food
96                     Bodhan, India        Entertainment               Bills
97          Bokaro Steel City, India                 Food               Bills
98            Bongaigaon City, India                 Food                Food
99                  Brahmapur, India              Grocery                Fuel
100                     Buxar, India                Bills             Grocery
101                Byasanagar, India                Bills                Fuel
102                  Chaibasa, India                Bills                Food
103                 Chalakudy, India        Entertainment       Entertainment
104                 Chandausi, India                 Food       Entertainment
105                Chandigarh, India                 Food                Food
106             Changanassery, India                Bills               Bills
107             Charkhi Dadri, India              Grocery                Fuel
108                    Chatra, India                Bills             Grocery
109                   Chennai, India                Bills                Food
110                 Cherthala, India              Grocery                Fuel
111            Chikkamagaluru, India        Entertainment               Bills
112            Chilakaluripet, India                 Fuel                Fuel
113                   Chirala, India              Grocery             Grocery
114                 Chirkunda, India              Grocery       Entertainment
115                  Chirmiri, India              Grocery                Food
116                  Chittoor, India                 Fuel                Food
117    Chittur-Thathamangalam, India              Grocery                Fuel
118                   Cuttack, India        Entertainment                Food
119             Dalli-Rajhara, India        Entertainment                Fuel
120                 Darbhanga, India                Bills               Bills
121                 Darjiling, India                 Food                Food
122                Davanagere, India                Bills                Food
123                     Deesa, India                 Fuel             Grocery
124                  Dehradun, India              Grocery                Food
125             Dehri-on-Sone, India                Bills                Fuel
126                     Delhi, India                Bills             Grocery
127                   Deoghar, India              Grocery               Bills
128                  Dhamtari, India                 Food             Grocery
129                   Dhanbad, India                 Food             Grocery
130               Dharmanagar, India                Bills       Entertainment
131               Dharmavaram, India                 Fuel                Fuel
132                 Dhenkanal, India              Grocery             Grocery
133                   Dhoraji, India                 Food                Fuel
134                    Dhubri, India        Entertainment                Fuel
135                     Dhule, India              Grocery                Food
136                     Dhuri, India                Bills               Bills
137                 Dibrugarh, India                 Food             Grocery
138                   Dimapur, India        Entertainment               Bills
139                     Diphu, India              Grocery               Bills
140                     Dumka, India                Bills                Food
141                   Dumraon, India        Entertainment                Fuel
142                      Durg, India              Grocery                Food
143                     Eluru, India                Bills                Fuel
144             English Bazar, India              Grocery       Entertainment
145                     Erode, India                 Food               Bills
146                    Etawah, India              Grocery             Grocery
147                 Faridabad, India                Bills             Grocery
148                  Faridkot, India              Grocery                Fuel
149               Farooqnagar, India        Entertainment             Grocery
150                 Fatehabad, India        Entertainment                Food
151            Fatehpur Sikri, India        Entertainment                Food
152                   Fazilka, India                 Food                Food
153                 Firozabad, India              Grocery             Grocery
154           Firozpur Cantt., India              Grocery                Fuel
155                  Firozpur, India              Grocery             Grocery
156                Forbesganj, India                 Food               Bills
157                    Gadwal, India                Bills       Entertainment
158               Gangarampur, India                Bills       Entertainment
159                Ganjbasoda, India              Grocery       Entertainment
160                      Gaya, India                Bills                Food
161                   Giridih, India                 Food             Grocery
162                  Goalpara, India                 Fuel             Grocery
163         Gobichettipalayam, India        Entertainment       Entertainment
164                Gobindgarh, India                 Fuel               Bills
165                    Godhra, India                 Food                Food
166                    Gohana, India                 Food             Grocery
167                     Gokak, India              Grocery               Bills
168                     Gooty, India        Entertainment                Food
169                 Gopalganj, India                Bills                Food
170            Greater Mumbai, India                Bills               Bills
171                  Gudivada, India                 Fuel             Grocery
172                     Gudur, India        Entertainment                Food
173                     Gumia, India                 Food             Grocery
174                  Guntakal, India                 Food                Fuel
175                    Guntur, India                Bills       Entertainment
176                 Gurdaspur, India                Bills                Food
177                   Gurgaon, India                 Fuel                Fuel
178                  Guwahati, India        Entertainment               Bills
179                   Gwalior, India              Grocery               Bills
180                     Habra, India              Grocery                Food
181                   Hajipur, India              Grocery                Fuel
182    Haldwani-cum-Kathgodam, India              Grocery       Entertainment
183                     Hansi, India                 Food             Grocery
184                     Hapur, India                 Food                Food
185                   Hardoi , India              Grocery       Entertainment
186                   Hardwar, India                 Fuel             Grocery
187                 Hazaribag, India                 Fuel       Entertainment
188                  Hindupur, India              Grocery             Grocery
189                     Hisar, India                 Food                Food
190                Hoshiarpur, India                Bills                Fuel
191             Hubli-Dharwad, India        Entertainment                Fuel
192           Hugli-Chinsurah, India                 Food                Food
193                 Hyderabad, India                 Food              Travel
194              Ichalkaranji, India                 Food             Grocery
195                    Imphal, India        Entertainment                Food
196                    Indore, India              Grocery       Entertainment
197                    Itarsi, India                Bills               Bills
198                  Jabalpur, India              Grocery               Bills
199                 Jagdalpur, India        Entertainment                Fuel
200               Jaggaiahpet, India        Entertainment             Grocery
201                   Jagraon, India              Grocery       Entertainment
202                   Jagtial, India              Grocery       Entertainment
203                    Jaipur, India                 Food               Bills
204          Jalandhar Cantt., India                 Fuel             Grocery
205                 Jalandhar, India              Grocery                Food
206                Jalpaiguri, India                 Fuel                Fuel
207                  Jamalpur, India              Grocery             Grocery
208             Jammalamadugu, India              Grocery               Bills
209                     Jammu, India                 Food                Food
210                  Jamnagar, India                Bills                Food
211                Jamshedpur, India                 Food       Entertainment
212                     Jamui, India                 Food       Entertainment
213                   Jangaon, India                 Food             Grocery
214                    Jatani, India                 Fuel             Grocery
215                 Jehanabad, India                Bills             Grocery
216                    Jhansi, India                Bills               Bills
217                  Jhargram, India                 Food             Grocery
218                Jharsuguda, India                 Fuel                Fuel
219            Jhumri Tilaiya, India              Grocery                Fuel
220                      Jind, India                Bills                Fuel
221                   Jodhpur, India                 Food       Entertainment
222                    Jorhat, India                Bills             Grocery
223                    Kadapa, India              Grocery       Entertainment
224                      Kadi, India                Bills       Entertainment
225                    Kadiri, India                 Fuel             Grocery
226                Kagaznagar, India                 Fuel             Grocery
227                   Kaithal, India        Entertainment               Bills
228                  Kakinada, India        Entertainment       Entertainment
229                 Kalimpong, India                Bills                Fuel
230                     Kalpi, India                 Fuel             Grocery
231          Kalyan-Dombivali, India                 Food       Entertainment
232                 Kamareddy, India                 Fuel             Grocery
233              Kancheepuram, India        Entertainment             Grocery
234                  Kandukur, India                 Fuel                Fuel
235                 Kanhangad, India                Bills                Food
236                    Kannur, India              Grocery                Food
237                    Kanpur, India              Grocery                Food
238                 Kapadvanj, India                 Fuel       Entertainment
239                Kapurthala, India                 Fuel             Grocery
240                  Karaikal, India                 Food                Food
241                 Karimganj, India                 Fuel       Entertainment
242                Karimnagar, India                 Food                Fuel
243                    Karjat, India                 Fuel       Entertainment
244                    Karnal, India                 Food       Entertainment
245                     Karur, India                Bills                Food
246                    Karwar, India                Bills       Entertainment
247                 Kasaragod, India                 Food                Food
248                  Kashipur, India        Entertainment               Bills
249                    Kathua, India                Bills       Entertainment
250                   Katihar, India              Grocery               Bills
251                    Kavali, India        Entertainment                Food
252                Kayamkulam, India                 Fuel                Food
253                Kendrapara, India                 Food                Food
254                 Kendujhar, India              Grocery       Entertainment

In [191]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\debdulal\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\users\debdulal\anaconda3\lib\site-packages (from openpyxl) (1.0.1)

In [192]:
with pd.ExcelWriter('new.xlsx') as writer:
    e.to_excel(writer, sheet_name='Task')

# 6. Find percentage contribution of spends by females for each expense type

In [102]:
df=pd.read_csv("Credit card transactions - Project - 2 - Credit card transactions - Project - 2.csv")

In [103]:
op=df[df["Gender"]=="F"]

In [104]:
op

,index,City,Date,Card Type,Exp Type,Gender,Amount
0,0,"Delhi, India",29-Oct-14,Gold,Bills,F,82475
1,1,"Greater Mumbai, India",22-Aug-14,Platinum,Bills,F,32555
2,2,"Bengaluru, India",27-Aug-14,Silver,Bills,F,101738
3,3,"Greater Mumbai, India",12-Apr-14,Signature,Bills,F,123424
4,4,"Bengaluru, India",05-May-15,Gold,Bills,F,171574
...,...,...,...,...,...,...,...
26039,26039,"Kanpur, India",15-Dec-14,Silver,Travel,F,129095
26040,26040,"Hyderabad, India",26-Oct-13,Gold,Travel,F,163352
26043,26043,"Hyderabad, India",15-May-15,Silver,Travel,F,280335
26045,26045,"Kolkata, India",26-Feb-14,Signature,Travel,F,170049
26047,26047,"Kolkata, India",22-Jun-14,Silver,Travel,F,128191

In [105]:
f=op.groupby(["Exp Type","Gender"])["Amount"].sum()

In [106]:
ff=f.reset_index()

In [107]:
ff

        Exp Type Gender     Amount
0          Bills      F  580035469
1  Entertainment      F  358663333
2           Food      F  452817279
3           Fuel      F  392282421
4        Grocery      F  365646998
5         Travel      F   55865530

In [109]:
ff["Total_spend"]=sum(ff["Amount"])

In [110]:
ff

        Exp Type Gender     Amount  Total_spend
0          Bills      F  580035469   2205311030
1  Entertainment      F  358663333   2205311030
2           Food      F  452817279   2205311030
3           Fuel      F  392282421   2205311030
4        Grocery      F  365646998   2205311030
5         Travel      F   55865530   2205311030

In [111]:
ff["Total_percent"]=((ff["Amount"]/ff["Total_spend"])*100)

In [112]:
ff

        Exp Type Gender     Amount  Total_spend  Total_percent
0          Bills      F  580035469   2205311030      26.301753
1  Entertainment      F  358663333   2205311030      16.263617
2           Food      F  452817279   2205311030      20.533035
3           Fuel      F  392282421   2205311030      17.788077
4        Grocery      F  365646998   2205311030      16.580292
5         Travel      F   55865530   2205311030       2.533227

# 7.Which card and expense type combination saw highest month over month growth in Jan-2014

In [119]:
df

,index,City,Date,Card Type,Exp Type,Gender,Amount,Month,Year
0,0,"Delhi, India",2014-10-29,Gold,Bills,F,82475,Oct,2014
1,1,"Greater Mumbai, India",2014-08-22,Platinum,Bills,F,32555,Aug,2014
2,2,"Bengaluru, India",2014-08-27,Silver,Bills,F,101738,Aug,2014
3,3,"Greater Mumbai, India",2014-04-12,Signature,Bills,F,123424,Apr,2014
4,4,"Bengaluru, India",2015-05-05,Gold,Bills,F,171574,May,2015
...,...,...,...,...,...,...,...,...,...
26047,26047,"Kolkata, India",2014-06-22,Silver,Travel,F,128191,Jun,2014
26048,26048,"Pune, India",2014-08-03,Signature,Travel,M,246316,Aug,2014
26049,26049,"Hyderabad, India",2015-01-16,Silver,Travel,M,265019,Jan,2015
26050,26050,"Kanpur, India",2014-09-14,Silver,Travel,M,88174,Sep,2014
26051,26051,"Hyderabad, India",2013-10-19,Signature,Bills,M,184410,Oct,2013

In [120]:
e=df[(df["Month"]=="Jan")&(df["Year"]==2014)]

In [121]:
e

,index,City,Date,Card Type,Exp Type,Gender,Amount,Month,Year
36,36,"Ahmedabad, India",2014-01-01,Signature,Bills,F,255577,Jan,2014
65,65,"Delhi, India",2014-01-23,Platinum,Bills,F,340133,Jan,2014
89,89,"Bengaluru, India",2014-01-05,Gold,Bills,F,327947,Jan,2014
128,128,"Delhi, India",2014-01-27,Gold,Bills,F,315873,Jan,2014
143,143,"Bengaluru, India",2014-01-03,Silver,Bills,F,297732,Jan,2014
...,...,...,...,...,...,...,...,...,...
25902,25902,"Kolkata, India",2014-01-03,Silver,Travel,M,29747,Jan,2014
25906,25906,"Pune, India",2014-01-28,Silver,Travel,F,271663,Jan,2014
25908,25908,"Kolkata, India",2014-01-07,Gold,Travel,F,260837,Jan,2014
25949,25949,"Lucknow, India",2014-01-28,Platinum,Travel,F,57507,Jan,2014
26019,26019,"Surat, India",2014-01-31,Signature,Travel,M,208779,Jan,2014

In [122]:
w=e.groupby(["Card Type","Exp Type","Month","Year"])["Amount"].sum()

In [124]:
ww=w.reset_index()

In [126]:
ww["Growth_rate"]=ww["Amount"].pct_change(periods=1)*100

In [127]:
ww

    Card Type       Exp Type Month  Year    Amount  Growth_rate
0        Gold          Bills   Jan  2014  11137964          NaN
1        Gold  Entertainment   Jan  2014   9940137   -10.754452
2        Gold           Food   Jan  2014  11511990    15.813193
3        Gold           Fuel   Jan  2014  12281691     6.686081
4        Gold        Grocery   Jan  2014   7726804   -37.086807
5        Gold         Travel   Jan  2014   2092554   -72.918247
6    Platinum          Bills   Jan  2014  12138233   480.067850
7    Platinum  Entertainment   Jan  2014   9303489   -23.353844
8    Platinum           Food   Jan  2014  10090531     8.459643
9    Platinum           Fuel   Jan  2014  10698936     6.029465
10   Platinum        Grocery   Jan  2014  12256343    14.556653
11   Platinum         Travel   Jan  2014    446659   -96.355691
12  Signature          Bills   Jan  2014   9529821  2033.578636
13  Signature  Entertainment   Jan  2014   8669623    -9.026382
14  Signature           Food   Jan  2014   9655792    11.374993
15  Signature           Fuel   Jan  2014   8374754   -13.267042
16  Signature        Grocery   Jan  2014   9066931     8.265043
17  Signature         Travel   Jan  2014    847777   -90.649791
18     Silver          Bills   Jan  2014  10458449  1133.632075
19     Silver  Entertainment   Jan  2014   7888949   -24.568653
20     Silver           Food   Jan  2014  10019659    27.008794
21     Silver           Fuel   Jan  2014  12614488    25.897378
22     Silver        Grocery   Jan  2014   9728433   -22.878891
23     Silver         Travel   Jan  2014   1170975   -87.963375

In [128]:
ww.nlargest(1,"Growth_rate")

    Card Type Exp Type Month  Year   Amount  Growth_rate
12  Signature    Bills   Jan  2014  9529821  2033.578636

# 8.During weekends which city has highest total spend to total no of transaction’s ratio?

In [129]:
df=pd.read_csv("Credit card transactions - Project - 2 - Credit card transactions - Project - 2.csv")

In [ ]:
wkd dt.dayofweek

In [130]:
df.head(2)

   index                   City       Date Card Type Exp Type Gender  Amount
0      0           Delhi, India  29-Oct-14      Gold    Bills      F   82475
1      1  Greater Mumbai, India  22-Aug-14  Platinum    Bills      F   32555

In [132]:
df["Date"]=pd.to_datetime(df["Date"])

In [133]:
df["WKD"]=df["Date"].dt.dayofweek

In [141]:
week={0:"Mon",1:"Tue",2:"Wed",3:"Thu",4:"Fri",5:"Sat",6:"Sun"}

In [142]:
df["WKD"]=df["WKD"].map(week)

In [143]:
df.head()

,index,City,Date,Card Type,Exp Type,Gender,Amount,WKD
0,0,"Delhi, India",2014-10-29,Gold,Bills,F,82475,Wed
1,1,"Greater Mumbai, India",2014-08-22,Platinum,Bills,F,32555,Fri
2,2,"Bengaluru, India",2014-08-27,Silver,Bills,F,101738,Wed
3,3,"Greater Mumbai, India",2014-04-12,Signature,Bills,F,123424,Sat
4,4,"Bengaluru, India",2015-05-05,Gold,Bills,F,171574,Tue

In [144]:
s=df[df["WKD"]=="Sat"]

In [145]:
ss=df[df["WKD"]=="Sun"]

In [146]:
s.shape

(3736, 8)

In [147]:
ss.shape

(3812, 8)

In [148]:
total=3736+3812

In [149]:
total

7548

In [150]:
cc=pd.concat([s,ss],axis=0)

In [151]:
cc

,index,City,Date,Card Type,Exp Type,Gender,Amount,WKD
3,3,"Greater Mumbai, India",2014-04-12,Signature,Bills,F,123424,Sat
11,11,"Greater Mumbai, India",2013-12-07,Signature,Bills,F,278036,Sat
16,16,"Greater Mumbai, India",2014-06-14,Signature,Bills,F,421878,Sat
18,18,"Greater Mumbai, India",2014-03-15,Platinum,Bills,F,213047,Sat
19,19,"Greater Mumbai, India",2013-11-09,Platinum,Bills,F,735566,Sat
...,...,...,...,...,...,...,...,...
26030,26030,"Lucknow, India",2014-07-20,Silver,Travel,M,123503,Sun
26041,26041,"Chennai, India",2013-12-08,Signature,Travel,M,207941,Sun
26047,26047,"Kolkata, India",2014-06-22,Silver,Travel,F,128191,Sun
26048,26048,"Pune, India",2014-08-03,Signature,Travel,M,246316,Sun
26050,26050,"Kanpur, India",2014-09-14,Silver,Travel,M,88174,Sun

In [153]:
cc["total_no.of_transaction"]=total

In [154]:
cc

,index,City,Date,Card Type,Exp Type,Gender,Amount,WKD,total_no.of_transaction
3,3,"Greater Mumbai, India",2014-04-12,Signature,Bills,F,123424,Sat,7548
11,11,"Greater Mumbai, India",2013-12-07,Signature,Bills,F,278036,Sat,7548
16,16,"Greater Mumbai, India",2014-06-14,Signature,Bills,F,421878,Sat,7548
18,18,"Greater Mumbai, India",2014-03-15,Platinum,Bills,F,213047,Sat,7548
19,19,"Greater Mumbai, India",2013-11-09,Platinum,Bills,F,735566,Sat,7548
...,...,...,...,...,...,...,...,...,...
26030,26030,"Lucknow, India",2014-07-20,Silver,Travel,M,123503,Sun,7548
26041,26041,"Chennai, India",2013-12-08,Signature,Travel,M,207941,Sun,7548
26047,26047,"Kolkata, India",2014-06-22,Silver,Travel,F,128191,Sun,7548
26048,26048,"Pune, India",2014-08-03,Signature,Travel,M,246316,Sun,7548
26050,26050,"Kanpur, India",2014-09-14,Silver,Travel,M,88174,Sun,7548

In [155]:
y=cc.groupby(["City"])["Amount"].sum()

In [165]:
u=y.reset_index()

In [166]:
u

                 City  Amount
0     Achalpur, India  348051
1     Adilabad, India  585977
2    Adityapur, India  227532
3        Adoni, India  718170
4        Adoor, India  388364
..                ...     ...
802      Yevla, India  260537
803    Zaidpur, India   17420
804    Zamania, India  715258
805   Zirakpur, India   84925
806  Zunheboto, India  298567

[807 rows x 2 columns]

In [167]:
u["total_no.of_transaction"]=7548

In [168]:
u

                 City  Amount  total_no.of_transaction
0     Achalpur, India  348051                     7548
1     Adilabad, India  585977                     7548
2    Adityapur, India  227532                     7548
3        Adoni, India  718170                     7548
4        Adoor, India  388364                     7548
..                ...     ...                      ...
802      Yevla, India  260537                     7548
803    Zaidpur, India   17420                     7548
804    Zamania, India  715258                     7548
805   Zirakpur, India   84925                     7548
806  Zunheboto, India  298567                     7548

[807 rows x 3 columns]

In [170]:
u['Ratio']=(u["Amount"]/u["total_no.of_transaction"])

In [171]:
u

                 City  Amount  total_no.of_transaction      Ratio
0     Achalpur, India  348051                     7548  46.111685
1     Adilabad, India  585977                     7548  77.633413
2    Adityapur, India  227532                     7548  30.144674
3        Adoni, India  718170                     7548  95.147059
4        Adoor, India  388364                     7548  51.452570
..                ...     ...                      ...        ...
802      Yevla, India  260537                     7548  34.517356
803    Zaidpur, India   17420                     7548   2.307896
804    Zamania, India  715258                     7548  94.761261
805   Zirakpur, India   84925                     7548  11.251325
806  Zunheboto, India  298567                     7548  39.555776

[807 rows x 4 columns]

In [172]:
u.nlargest(1,"Ratio")

                      City     Amount  total_no.of_transaction         Ratio
136  Greater Mumbai, India  172418991                     7548  22843.003577

#  3.Write a query to print the transaction details (all columns from the table) for each card type when it reaches a cumulative of 1000000 total spends (We should have 4 rows in the o/p one for each card type)

In [3]:
df["cumsum"]=df.groupby("Card Type")['Amount'].cumsum()

In [4]:
df.head()

,index,City,Date,Card Type,Exp Type,Gender,Amount,cumsum
0,0,"Delhi, India",29-Oct-14,Gold,Bills,F,82475,82475
1,1,"Greater Mumbai, India",22-Aug-14,Platinum,Bills,F,32555,32555
2,2,"Bengaluru, India",27-Aug-14,Silver,Bills,F,101738,101738
3,3,"Greater Mumbai, India",12-Apr-14,Signature,Bills,F,123424,123424
4,4,"Bengaluru, India",05-May-15,Gold,Bills,F,171574,254049

In [5]:
a=df[(df["Card Type"]=="Silver")&(df["cumsum"]>=1000000)]

In [6]:
b=df[(df["Card Type"]=="Gold")&(df["cumsum"]>=1000000)]

In [7]:
c=df[(df["Card Type"]=="Platinum")&(df["cumsum"]>=1000000)]

In [8]:
d=df[(df["Card Type"]=="Signature")&(df["cumsum"]>=1000000)]

In [9]:
e=a.nsmallest(1,"cumsum")

In [10]:
f=b.nsmallest(1,"cumsum")

In [11]:
g=c.nsmallest(1,"cumsum")

In [12]:
h=d.nsmallest(1,"cumsum")

In [13]:
e

    index          City       Date Card Type Exp Type Gender  Amount   cumsum
25     25  Delhi, India  27-Sep-14    Silver    Bills      F  622170  1483205

In [14]:
f

,index,City,Date,Card Type,Exp Type,Gender,Amount,cumsum
17,17,"Greater Mumbai, India",30-Mar-15,Gold,Bills,F,986379,1402904

In [15]:
g

,index,City,Date,Card Type,Exp Type,Gender,Amount,cumsum
15,15,"Greater Mumbai, India",28-Nov-14,Platinum,Bills,F,647116,1178644

In [16]:
h

,index,City,Date,Card Type,Exp Type,Gender,Amount,cumsum
16,16,"Greater Mumbai, India",14-Jun-14,Signature,Bills,F,421878,1380531

In [17]:
sf=pd.concat([e,f,g,h],axis=0)

In [18]:
sf

,index,City,Date,Card Type,Exp Type,Gender,Amount,cumsum
25,25,"Delhi, India",27-Sep-14,Silver,Bills,F,622170,1483205
17,17,"Greater Mumbai, India",30-Mar-15,Gold,Bills,F,986379,1402904
15,15,"Greater Mumbai, India",28-Nov-14,Platinum,Bills,F,647116,1178644
16,16,"Greater Mumbai, India",14-Jun-14,Signature,Bills,F,421878,1380531